<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Flicks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8AF39C951DAB48C5001472C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AF39CA91DAB48C5001472C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AF39CB41DAB48C5001472C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
